:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 16px;
}

button {
  margin: 0;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: blue;
  color: white;
  cursor: pointer;

  hover {
    opacity: 0.8;
  }
}
